.store-footer h3 {
    color: #344a50 !important;
    background: #fff;
    border-radius: 8px;
    font-weight: 700;
    padding-top: 0.3rem;
    width: 100%;
    padding-bottom: 0.3rem;
    box-shadow: rgba(0,0,0,.1) 0 4px 12px;
        text-align: center;

}
.hidden.lg\:block:after {
    content: "";
    background: url(https://i.ibb.co/Px31HMx/Picsart-24-02-22-15-55-31-955.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 70px;
    background-position: right;
}
 .footer-is-light .store-footer .contact-social:after {
    content: "";
    background: url(https://i.ibb.co/Px31HMx/Picsart-24-02-22-15-55-31-955.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 70px;
    background-position: center;
}
.footer-is-light .store-footer .social-link ,.footer-is-light .store-footer [class*=" sicon-"]{
box-shadow:rgba(0,0,0,.24) 0 3px 8px;

}
.bg-gray-50 {
    
    background-color: white;
}
[dir=rtl] salla-slider.photos-slider .swiper {
    padding-right: 0rem !important;
}
/* mover banner///////////////// */ 
  [dir=rtl] .carousel-slider .swiper {
    padding-left: 0rem !important;
}
salla-slider.photos-slider .swiper-slide {
    position: relative;
   margin: 0px !important;
    padding: 0px;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 0rem;
}
.rounded-md {
    border-radius: 0rem !important;
}
.swiper.s-slider-container.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-rtl.swiper-backface-hidden {
    padding: 0px;
}
section:first-of-type.s-block.s-block--photos-slider {
    margin: 0px !important;
}

/* categoryyy//////////////// */ 
.grid.md\:grid-cols-3.two-row.grid-flow-row.gap-3.sm\:gap-8{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lazy__bg.lazy.entered.loaded {
    background-size: contain;
    background-repeat: no-repeat;
}
 .banner--fixed img {
    background: #faebd700;
}   

.banner-entry {
    width: 31%;
    height: 236px !important;
    background: #f9fafb00;
}
    
/* Media Query for Mobile Devices */ 
 @media (max-width: 480px) { 
           .banner-entry {
    width: 48%;
     height: 100px!important;
         background: #f9fafb00;
    }
  } 
/* Media Query for low resolution  Tablets, Ipads */ 
       
@media (min-width: 481px) and (max-width: 767px) { 
 .banner-entry {
    width: 30%;
    height: 236px !important;
    background: #f9fafb00;
}
 }
